log/*
tmp
db/schema.rb
db/*.sqlite3
public/system
*.swp
*.DS_Store
coverage/*
rdoc/
tags
doc
pkg
*.gemspec
.bundle/config
.idea/.rakeTasks
.idea/encodings.xml
.idea/errorapp_notifier.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml